*.aux
*.gz
*.log
*.blg
*.bbl
*.pdf
*.o
*.x
mainTSP
gnuplot*

Release/
x64/
Debug/
Sol/
graph/
Hmw1.*
pch.cpp
pch.h
*.props
plot/*


res.csv
data/
model/

#Visual Studio
.vs
*.sln
Debug
Hmw1.*
*.props
Release
Makefile
pch.*
Hmw1

Latex/Report.fdb_latexmk
Latex/Report.synctex(busy)
Latex/Report.fls