*.aux
*.gz
*.log
*.blg
*.bbl
*.pdf
*.o
*.x
mainTSP
gnuplot*

Release/
x64/
Debug/
Sol/
graph/
Hmw1.*
pch.cpp
pch.h
*.props


res.csv
res_trainset.csv
data/
model/

#Visual Studio
.vs
*.sln
Debug
Hmw1.*
*.props
Release
Makefile
pch.cpp
Hmw1
packages/
packages.config
*.dll

Latex/Report.fdb_latexmk
Latex/Report.synctex(busy)
Latex/Report.fls


Latex/Report.out

Latex/Report.toc

.atom-dbg.cson

core

Latex/e083b0c4-7178-4a82-b37f-f2884e87e29f.jpeg

Latex/Report-blx.bib
Latex/Report.run.xml
Latex/img/patching2.0.gif

.idea/

plot/

res_aTSP.csv

res_cgal.csv

res_constructive.csv

res_exact_L.csv

res_H.csv

res_heuristic_LA.csv

res_LA.csv

res_lb.png

res_time.png

res/Lhardfix_lightaverage.csv

res/lb_simulating_annealing_att48.csv

res/lb_simulating_annealing_a280_500.csv

res/lb_simulating_annealing_a280.csv

res/lb_simulating_annealing_50_a280_500.csv

res/lb_simulating_annealing_10_a280_500.csv

res/lb_simulating_annealing_ngrasp_100_d18512.csv

res/lb_simulating_annealing_01_a280_3600.csv

res/lb_simulating_annealing_01_a280_500.csv

res/lb_simulating_annealing_01_d18512_25200.csv

res/lb_simulating_annealing_ngrasp_100_d18512.csv

res/lb_n_greedy_best_two_opt_a280.csv

res/lb_tabu_search_n_greedy_d2103.csv

res/lb_genetic_algorithm_pr152_28000.csv

res/genetic_algorithm_att48.csv

res/genetic_algorithm_lb_data_light.csv

res/local_branching_d2013.csv

res/local_branching_a280.csv

res/AAA_test.csv

res/local_branching_a280_1.csv

res/Mlb_genetic_att48_28000.csv

res/Mlocal_branching_a280.csv

res/lb_genetic_att48_28000

res/lb_hard_fixing_a280.csv

res/lb_hard_fixing_d2103.csv

res/lb_local_branching_a280.csv

res/lb_hf_a280.csv

res/lb_n_greedy_b2o_hf_a280.csv

res/lb_n_greedy_hf_a280.csv
