*.aux
*.gz
*.log
*.blg
*.bbl
*.pdf
*.o
*.x
mainTSP
gnuplot*

Release/
x64/
Debug/
Sol/
graph/
Hmw1.*
pch.cpp
pch.h
*.props


res.csv
res_trainset.csv
data/
model/

#Visual Studio
.vs
*.sln
Debug
Hmw1.*
*.props
Release
Makefile
pch.cpp
Hmw1
packages/
packages.config
*.dll

Latex/Report.fdb_latexmk
Latex/Report.synctex(busy)
Latex/Report.fls


Latex/Report.out

Latex/Report.toc

.atom-dbg.cson

core

Latex/e083b0c4-7178-4a82-b37f-f2884e87e29f.jpeg

Latex/Report-blx.bib
Latex/Report.run.xml
Latex/img/patching2.0.gif

.idea/

plot/
